#!/bin/bash

export FRONTEND_BASE_URL="https://wisdomquotes-bot-miniapp-frontend.netlify.app/index.html"
export ENV="test"
export TOKEN="<CENSORED>"

cd /home/ec2-user/wisdom-quotes-telegram-bot
source venv/bin/activate
source .venv/bin/activate
while echo 1; do
python main.py
echo "'main.py' crashed with exit code $?. Restarting..." >&2
sleep 1
done

echo "$? - legit stop?"
goto restart
